
.label {
  font-size: 0.8rem;
}

.input, .select select {
  font-size: 0.8rem;
  border-radius: 0px;
}

.columns {
  margin-top: -1.75rem;
}

/* Vue js Binding  */
[v-cloak] {
  display: none;
}

/* Animated Box */
.is-shady {
  -webkit-animation: flyintoright .4s backwards;
  animation: flyintoright .4s backwards;
  /* -webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 0; */
  /* box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.29); */
  /* border-radius: 4px; */
  display: inline-block;
  margin: 10px;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.is-shady:hover {
  -webkit-box-shadow: 0 3rem 3rem -1.25rem rgba(10, 10, 10, .1);
  box-shadow: 0 3rem 3rem -1.25rem rgba(10, 10, 10, .1);
  -webkit-transform: translateY(-.5rem);
  transform: translateY(-.5rem)
}

/* Black Screen */
#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.9);
  transition: 1s 0.4s;
}

/* Progress Bar */
/* https://loading.io/css/ */
.lds-hourglass {
  position: fixed;
  top: 50%;
  bottom: 50%;
  right: 50%;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}